<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>APP_KEY</key>
	<string>4035564F-A0A2-F070-FF3E-92A3E5C2FD00</string>
	<key>IOS_KEY</key>
	<string>CF1D9875-173F-AD63-FF2E-1F110796B900</string>
	<key>VERSION_NUM</key>
	<string>v1</string>
</dict>
</plist>
