<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>member</key>
        <dict>
            <key>membership</key>
            <dict>
                <key>available</key>
                <false/>
                <key>title</key>
                <string>Membership</string>
                <key>image</key>
                <string>membership</string>
                <key>segue</key>
                <string>membershipSegue</string>
            </dict>
            <key>gamesHistory</key>
            <dict>
                <key>available</key>
                <false/>
                <key>title</key>
                <string>Games History</string>
                <key>image</key>
                <string>gameHistory</string>
                <key>segue</key>
                <string>gamesHistorySegue</string>
            </dict>
            <key>currentlyPlaying</key>
            <dict>
                <key>available</key>
                <false/>
                <key>title</key>
                <string>Currently Playing</string>
                <key>image</key>
                <string>currentlyPlaying</string>
                <key>segue</key>
                <string>currentlyPlayingSegue</string>
            </dict>
            <key>whosNext</key>
            <dict>
                <key>available</key>
                <false/>
                <key>title</key>
                <string>Who&apos;s Next?</string>
                <key>image</key>
                <string>whosNext</string>
                <key>segue</key>
                <string>whosNextSegue</string>
            </dict>
            <key>listOfAssistance</key>
            <dict>
                <key>available</key>
                <false/>
                <key>title</key>
                <string>List of Assistance</string>
                <key>image</key>
                <string>listOfAssistance</string>
                <key>segue</key>
                <string>listOfAssistance</string>
            </dict>
            <key>requestInvites</key>
            <dict>
                <key>available</key>
                <false/>
                <key>title</key>
                <string>Request Invites</string>
                <key>image</key>
                <string>requestInvites</string>
                <key>segue</key>
                <string>requestInvitesSegue</string>
            </dict>
            <key>payments</key>
            <dict>
                <key>available</key>
                <false/>
                <key>title</key>
                <string>Payments</string>
                <key>image</key>
                <string>payments</string>
                <key>segue</key>
                <string>paymentsSegue</string>
            </dict>
            <key>confirmAssistance</key>
            <dict>
                <key>available</key>
                <false/>
                <key>title</key>
                <string>Confirm Assistance</string>
                <key>image</key>
                <string>confirmAssistance</string>
                <key>segue</key>
                <string>confirmAssistanceSegue</string>
            </dict>
            <key>leaveLeague</key>
            <dict>
                <key>available</key>
                <false/>
                <key>title</key>
                <string>Leave League</string>
                <key>image</key>
                <string>leaveLeague</string>
                <key>segue</key>
                <string>leaveLeagueSegue</string>
            </dict>
        </dict>
        <key>admin</key>
        <dict>
            <key>createSchedule</key>
            <dict>
                <key>available</key>
                <true/>
                <key>title</key>
                <string>Create Schedule</string>
                <key>image</key>
                <string>createSchedule</string>
                <key>segue</key>
                <string>createScheduleSegue</string>
            </dict>
            <key>confirmVisitor</key>
            <dict>
                <key>available</key>
                <false/>
                <key>title</key>
                <string>Confirm Visitors</string>
                <key>image</key>
                <string>confirmVisitors</string>
                <key>segue</key>
                <string>confirmVisitorsSegue</string>
            </dict>
            <key>todaysGames</key>
            <dict>
                <key>available</key>
                <false/>
                <key>title</key>
                <string>Today&apos;s Games</string>
                <key>image</key>
                <string>todaysGames</string>
                <key>segue</key>
                <string>todaysGamesSegue</string>
            </dict>
            <key>confirmPlayers</key>
            <dict>
                <key>available</key>
                <true/>
                <key>title</key>
                <string>Confirm Players</string>
                <key>image</key>
                <string>confirmPlayers</string>
                <key>segue</key>
                <string>confirmPlayersSegue</string>
            </dict>
            <key>confirmPayments</key>
            <dict>
                <key>available</key>
                <false/>
                <key>title</key>
                <string>Confirm Payments</string>
                <key>image</key>
                <string>confirmPayments</string>
                <key>segue</key>
                <string>confirmPaymentsSegue</string>
            </dict>
            <key>generateLCode</key>
            <dict>
                <key>available</key>
                <true/>
                <key>title</key>
                <string>Generate LCode</string>
                <key>image</key>
                <string>generateLCode</string>
                <key>segue</key>
                <string>generateLCodeSegue</string>
            </dict>
            <key>delegateTempAdmin</key>
            <dict>
                <key>available</key>
                <false/>
                <key>title</key>
                <string>Delegate Temp Admin</string>
                <key>image</key>
                <string>delegateTempAdmin</string>
                <key>segue</key>
                <string>delegateTempAdminSegue</string>
            </dict>
            <key>playerMaintenance</key>
            <dict>
                <key>available</key>
                <true/>
                <key>title</key>
                <string>Player Maintenance</string>
                <key>image</key>
                <string>playerMaintenance</string>
                <key>segue</key>
                <string>playerMaintenanceSegue</string>
            </dict>
        </dict>
    </dict>
</plist>
